################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Avaya.Console/v15/Server/sqlite3/storage.ide-wal
/.vs/Avaya.Console/v15/Server/sqlite3/storage.ide-shm
/.vs/Avaya.Console/v15/Server/sqlite3/storage.ide
/.vs/Avaya.Console/v15/Server/sqlite3/db.lock
/.vs/config/applicationhost.config
/.vs/Avaya.Console/v15/.suo
/.vs
/Avaya.API/obj/Release/netcoreapp2.0
/Avaya.API/obj
/Avaya.Client/obj/Release/netcoreapp2.1
/Avaya.Client/obj/Avaya.Client.csproj.nuget.dgspec.json
/Avaya.Console/obj/Release/netcoreapp2.1
/Avaya.Core/obj/Release/netcoreapp2.0
*.json
/Avaya.Domain/obj/Release/netcoreapp2.0
/Avaya.Model/obj/Release/netcoreapp2.0
/Avaya.Service/obj/Release/netcoreapp2.0
/Avaya.Core/obj
/Avaya.Domain/obj
/Avaya.Model/obj
/Avaya.Service/obj
/WebApp/node_modules
