$margin-left: 140px;

.content {
    margin-top: 150px;
    margin-bottom: 150px;
    margin-left: 50px;
  }
  
  .Movies {
    margin-bottom: 15px;
  }
  
  .select-movies {
    width: 222px;
  }
  
  .Cinemas {
    margin-bottom: 15px;
  }
  
  .form-control {
    margin-bottom: 15px;
    width: 222px;
  }

  .input-date {
    width: 222px;
  }
  
  .search {
    margin-left: $margin-left;
  }
  
  