.payment-view-wrapper{
width: 1300px;
height: 600px;
border: 2px solid  black;
}

.picking-side{
float: left;
width: 800px;
padding: 20px;

}

.payment-side{
 float: right;   
 padding: 20px;
 border-left: 3px dotted black;
}
