.article
{
    width: 788px;
    margin-right: 50px;
    margin-bottom: 100px;
    overflow: hidden;
    float:left;
}

.article-header
{
    display: block;
    width: 100%;
   
}

.article-title
{
    font-size: 45px;
    line-height: 1.1;
    font-weight: 700;
    margin-bottom: 10px;
    color: #101010;
    font-family: Khand,Arial Narrow,arial,sans-serif;
}

.article-info
{
    margin-bottom: 10px;
    color: #9d9d9d;
    font-weight: 400;

    a{
        font-weight: 700;    
        color: #dba433;
        font-family: Khand,Arial Narrow,arial,sans-serif;
        text-transform: uppercase;
        display: inline-block;
    }

}

.article-body
{  
    font-family: Khand,Arial Narrow,arial,sans-serif;
    font-size: 20px;

    p{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    }       

}

img{
    width: 738px;
    height: 376px;
    margin-bottom: 40px;
}

.articleinfo-bottom{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    font-family: Khand,Arial Narrow,arial,sans-serif;
    border: 3px dotted #9d9d9d;
    padding: 1rem;
    margin-bottom: 2rem;
}

.article-tag{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    font-family: Khand,Arial Narrow,arial,sans-serif;
    text-transform: capitalize;

    a{
        color: #101010;
        text-decoration: underline;
        -webkit-text-decoration-color: #dba433;
        text-decoration-color: #dba433;
    }

}
