<div class="row">
  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
    <img src="https://i.moveek.com/bundles/ornweb/img/logo.png" class="image">
  </div>
  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" id="partner">
      <div class="small text-muted">
          <strong>CÔNG TY TNHH Moveek</strong>
          <br>Số ĐKKD: xxxxxxxxxx · Nơi cấp: Sở kế hoạch và đầu tư Tp. Hồ Chí Minh · Đăng ký lần đầu ngày xx/xx/xxxx
          <br>Địa chỉ: xx X X X, P.X, Q. X , Tp. Hồ Chí Minh
          <br>
          <a>Về chúng tôi</a>
          · <a>Chính sách &amp; Thỏa thuận</a>
          · <a>Hỗ trợ</a>
          · <a>Liên hệ</a>
          · vX BETA
          <br>
      </div>
  </div>
  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 lucifer" id="partner">
    <strong>HOTLINE:</strong>
    <br> 090xxxxxxx
    <br> 028xxxxxxx
  </div>
  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
    <span>Đối tác:</span>
    <div> <img src="https://i.moveek.com/partners/beta-cineplex.jpg"></div>
  </div>
</div>