<!-- <div *ngFor="let item of listArticle">
    <div style="margin-left: 100px;max-width:600px;">
        <div>
            <img src="{{item.imgb}}" width="800px">

            <div>
                <a href="{{item.linkb}}" title="10 Times Iron Man Was The True Villain Of The MCU">{{item.title}}</a>
            </div>

            <div>
                <a href="{{item.linkb}}">{{item.author}}</a>
                <a style="margin-left: 10px">{{item.date}}</a>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 30px">
        <div style="margin-left: 100px;max-width:300px">

            <a>
                <img src="{{item.img}}" width="300px">
            </a>


        </div>
        <div style="margin-left: 30px;max-width:400px">
            <h3>
                <a href="{{item.link}}">{{item.title}}</a>
            </h3>
            <span>{{item.infor}}</span>
            <div>
                <a href="{{item.authorlink}}">{{item.author}}</a>
                <a style="margin-left: 10px">{{item.date}}</a>
            </div>
        </div>

    </div>
</div> -->

