<div>
  <div class="corn-container">
    <div class="item1">Loại Vé</div> 
    <div class="item2">GIÁ TIỀN</div>   
    <div class="item3">SỐ LƯỢNG</div>      
  </div>
  
  <div class="combocorn-container" *ngFor="let item of listTicket">
    <div class="item4">{{item.tickettype}}</div>
    <div class="item5">{{item.price}}</div>   
    <div class="item6"><input type="number" id='ticketValue' 
      value="0" min="0" max="10" (change)="ItemsValueOutPut(item)"></div> 
  </div>
</div>

<div>
  <div class="corn-container" >
    <div class="item1">COMBO</div> 
    <div class="item2">GIÁ TIỀN</div>   
    <div class="item3">SỐ LƯỢNG</div>      
  </div>

  <div class="combocorn-container" *ngFor="let item of listCombo">
    <div class="item4">{{item.comboname}}</div>
    <div class="item5">{{item.price}}</div>   
    <div class="item6"><input type="number" id='comboValue' 
      value="0" min="0" max="10"(change)="ItemsValueOutPut(item)"></div>      
  </div>
</div>