.corn-container {
  display: flex;
  flex-direction: row;
  max-width: 700px;
}

.item1 {
  flex-grow: 2;
}

.item2 {
  flex-grow: 1;
}

.combocorn-container {
  display: flex;
  flex-direction: row;
  max-width: 700px;
}

.item4 {
  flex-grow: 2;
}

.item5 {
  flex-grow: 1;
}

.img-combo {
  width: 100px;
}
